configuration {
    modi:                       "drun,run";
    kb-row-up:                  "Up,k,Shift+Tab,Shift+ISO_Left_Tab";
    kb-row-down:                "Down,j";
    kb-accept-entry:            "Control+m,Return,KP_Enter";
    kb-remove-to-eol:           "Control+Shift+e";
    /* kb-mode-next:            "Shift+Right,Control+Tab,Control+l"; */
    kb-mode-previous:           "Shift+Left,Control+Shift+Tab,Control+h";
    kb-remove-char-back:        "BackSpace";   
}

