@import url("/home/jake/.cache/wal/colors-waybar.css");

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
  font-weight: 800;
  padding: 0 3px;
  background-color: @background;
}

window#waybar {
  border-radius: 0px;
  margin-top: 0px;
}

#workspaces button {
  color: @color7;
}

#workspaces button.active {
  color: @color9;
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

tooltip {
  background: #272e33;
}

tooltip label {
  color: white;
}

#pulseaudio {
  color: @color10;
}

#battery {
  color: #7fbbb3;
}

#battery.warning {
  color: #ffc100;
}

#battery.critical {
  color: #c40c0c;
}

#battery.average {
  color: #219c90;
}

#battery.charging {
  color: #8decb4;
}

#custom-spotify {
  border-radius: 5px;
  background: #83c092;
  color: #282828;
  padding: 0 5px;
  margin: 5px 0;
}
